.vs/
ObserverPatternWeatherStationManual/bin/
ObserverPatternWeatherStationManual/obj/
StrategyPatternSimUDuck/obj/
StrategyPatternSimUDuck/bin/
ObserverPatternMsdn/obj/
ObserverPatternMsdn/bin/
ObserverPatternWeatherStationNetImplementations/obj/
ObserverPatternFinantialApp/bin/
ObserverPatternFinantialApp/obj/
ObserverPatternWeatherStationNetImplementations/bin/
DecoratorPatternStarbuzz/obj/
DecoratorPatternStarbuzz/bin/
